@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@import "reset";
@import "variables";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


p {
    font-size: 16px;
    line-height: 150%;
    color: $dark;
    margin-bottom: 20px;
}

a {
    color: $main-color;

    &:hover {
        color: $main-color;
    }
}

span.tagline {
    @include gradient-text;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    color: $dark;
    margin: 0 auto 20px;
    line-height: 120%;

    span {
        font-weight: 300;
    }
}

.btn {
    @include button;

    &:hover {
        transform: translateY(-5px);
        color: $light  !important;
    }

    &:active {
        color: $light  !important;
    }

    &:focus {
        color: $light  !important;
    }
}

.path-0 {
    animation: pathAnim-0 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,183.33333333333331 412.26666666666665,166.66666666666666 568,168 C 723.7333333333333,169.33333333333334 829.0666666666668,188.66666666666669 966,197 C 1102.9333333333332,205.33333333333331 1271.4666666666667,202.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    25% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 118.80000000000001,224.26666666666665 237.60000000000002,248.53333333333333 397,235 C 556.4,221.46666666666667 756.4000000000001,170.13333333333333 937,158 C 1117.6,145.86666666666667 1278.8,172.93333333333334 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    50% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 126.66666666666669,193.06666666666666 253.33333333333337,186.13333333333335 419,183 C 584.6666666666666,179.86666666666665 789.3333333333333,180.53333333333336 966,184 C 1142.6666666666667,187.46666666666664 1291.3333333333335,193.73333333333332 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    75% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 128.53333333333336,167.46666666666667 257.0666666666667,134.93333333333334 437,126 C 616.9333333333333,117.06666666666668 848.2666666666667,131.73333333333335 1024,148 C 1199.7333333333333,164.26666666666665 1319.8666666666668,182.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z");
    }

    100% {
        d: path("M 0,400 C 0,400 0,200 0,200 C 206.13333333333333,183.33333333333331 412.26666666666665,166.66666666666666 568,168 C 723.7333333333333,169.33333333333334 829.0666666666668,188.66666666666669 966,197 C 1102.9333333333332,205.33333333333331 1271.4666666666667,202.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: $dark;
    overflow-x: hidden;
    position: relative;

    &.active {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    &:before {
        content: '';
        width: 100%;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(240, 235, 255);
        background: linear-gradient(180deg, rgba(245, 241, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    @keyframes shake {

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.social-holder {
    position: fixed;
    bottom: 0px;
    right: -52px;
    z-index: 99;
    transition: $main-transition;

    &.active {
        right: 0;
    }

    .button-social {
        background: $gradient-background;
        color: $light;
        font-weight: 600;
        font-size: 14px;
        padding: 9px 14px;
        border-radius: 0px 10px 0 0;
        text-transform: uppercase;
        transform: rotate(-90deg) translate(-210px, 50px);
        float: left;
        cursor: pointer;

        &:hover {
            background: $gradient-background;
        }
    }

    .links {
        float: left;
        background: #fff;
        padding: 15px 5px 10px 5px;
        border-radius: 20px 0px 0 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

        ul {
            li {
                margin-bottom: 10px;
                text-align: center;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    width: 35px;
                    height: auto;
                    filter: grayscale(1);
                    transition: $main-transition;

                    &:hover {
                        filter: grayscale(0);
                    }

                    &.linkedin {
                        width: 32px;
                    }

                    &.whatsup {
                        width: 42px;
                    }

                    &.skype {
                        width: 38px;
                    }
                }
            }
        }
    }
}

.right-click {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    color: #000;
    transition: .4s ease-in-out opacity;
    opacity: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999999;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    img {
        width: 260px;
        height: auto;
        margin-bottom: 20px;
        margin-top: -250px;
    }

    .text {
        font-size: 34px;
        margin: 10px 0 10px;
        font-weight: bold;
        color: #000;
    }
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $light;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content {
        width: 330px;
        position: relative;
        height: 120px;

        .milan {
            width: 236px;
            height: 52px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
        }

        .nikolic {
            position: absolute;
            bottom: 10px;
            right: 0;
            width: 300px;
            height: 74px;
            text-align: center;
        }

        .milan,
        .nikolic {
            overflow: hidden;
        }

        .milan svg,
        .nikolic svg {
            transform: translateY(110px) rotate(15deg);
            transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        }

        .milan svg {
            width: 200px;
        }

        .nikolic svg {
            width: 261px;
            transition-delay: .1s;
        }
    }

    &.active {
        .milan {
            svg {
                transform: translateY(0px) rotate(0deg);
            }
        }
    }

    &.active {
        .nikolic {
            svg {
                transform: translateY(0px) rotate(0deg);
            }
        }
    }
}

.progress-holder {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1000;

    .progress-container {
        background-color: transparent;
        height: 5px;
        width: 100%;
    }

    .progress-bar {
        background: $gradient-background;
        height: 5px;
        width: 0%;
    }
}

header {
    transition: $main-transition;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: $light;
        opacity: 0;
        transition: $main-transition;
    }

    .container-holder {
        box-sizing: border-box;
        height: 80px;
        display: flex;
        flex-direction: row;
        z-index: 3;
    }

    &.sticky_header {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

        &::before {
            opacity: 1;
            transition: $main-transition;
        }
    }

    .logo {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        font-size: 32px;
        color: $dark;
        z-index: 5;
        font-weight: 800;

        span {

            color: $main-color;
        }
    }

    .navigation {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        ul {
            display: flex;

            li {
                margin-right: 36px;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover>ul {
                    opacity: 0.3;
                }

                a {
                    color: $dark;
                    text-transform: uppercase;
                    font-weight: 600;
                    overflow: hidden;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        border-radius: 4px;
                        background: $gradient-background;
                        bottom: -3px;
                        left: 0;
                        transform-origin: right;
                        transform: scaleX(0);
                        transition: transform .3s ease-in-out;
                    }

                    &:hover:before {
                        transform-origin: left;
                        transform: scaleX(1);
                    }

                }

                &.current {
                    a {
                        color: $main-color;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            border-radius: 4px;
                            background: $gradient-background;
                            bottom: -3px;
                            left: 0;
                            transform-origin: left;
                            transform: scaleX(1);
                            transition: transform .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .hire-me {
        @include button;
        font-size: 16px;
    }
}

/* HAMBURGER MENU */
.menu {
    display: none;
    position: relative;
    height: $size;
    width: $size;
    //background-color: $main-color;
    background: $gradient-background;
    cursor: pointer;
    overflow: hidden;

    &__icon {
        position: absolute;
        width: $width;
        height: $height;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__line {
        position: absolute;
        left: 0;
        background-color: $light;
        height: $line-size;
        width: 100%;
        border-radius: $line-radius;
        pointer-events: none;

        &--1 {
            top: 0;
        }

        &--2 {
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &--3 {
            bottom: 0;
        }
    }

    &--close5 &__line--4,
    &--close5 &__line--5 {
        opacity: 0;
        top: $to-translate;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    &--close5 &__line--1 {
        transition: width 0.2s ease-in-out 0.4s;
    }

    &--close5 &__line--2 {
        transition: width 0.2s ease-in-out 0.3s;
    }

    &--close5 &__line--3 {
        transition: width 0.2s ease-in-out 0.2s;
    }

    &--close5 &__line--4 {
        transform: rotate(45deg) translate3d(-$width, 0, 0);
        transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
    }

    &--close5 &__line--5 {
        transform: rotate(-45deg) translate3d($width, 0, 0);
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    // Open
    &--close5.open &__line--1 {
        width: 0;
        transition: width 0.2s ease-in-out;
    }

    &--close5.open &__line--2 {
        width: 0;
        transition: width 0.2s ease-in-out 0.1s;
    }

    &--close5.open &__line--3 {
        width: 0;
        transition: width 0.2s ease-in-out 0.2s;
    }

    &--close5.open &__line--4 {
        opacity: 1;
        transform: rotate(45deg) translate3d(0, 0, 0);
        transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0.2s;
    }

    &--close5.open &__line--5 {
        opacity: 1;
        transform: rotate(-45deg) translate3d(0, 0, 0);
        transition: opacity 0.2s ease-in-out 0.4s, transform 0.2s ease-in-out 0.4s;
    }
}

/* HAMBURGER MENU */
.container {
    z-index: 2;
}

.home {
    position: relative;
    overflow: visible;

    &::before {
        content: '';
        width: 770px;
        height: 809px;
        right: -40px;
        top: -150px;
        background: url(../../img/blob.svg) no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }

    p {
        font-size: 18px;
        line-height: 150%;
    }

    &::after {
        content: '';
        width: 100%;
        height: 185px;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0px;
        bottom: 0;
        background: linear-gradient(to right bottom, #fff 49%, #fcf8ff 50%);
    }

    .container {
        padding-top: 80px;
        padding-bottom: 80px;

        .main-img {
            width: 100%;
            flex-grow: 1;
            flex-basis: 0;
            position: relative;

            .mn-img {
                width: 100%;
                height: auto;
                position: relative;
                left: 50px;
                top: -50px;
                mask-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 80%, transparent 100%);
                mask-repeat: no-repeat;
                //mask-mode: alpha;
                transition: $main-transition;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 20px;
                left: 40px;
                width: 100%;
                height: 300px;
                background: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 80%, transparent 100%);
            }

            .circle {
                position: absolute;
                width: 76%;
                left: calc(50% - 35%);
                top: 20px;
                animation: circle 70s infinite linear;
            }
        }

        @keyframes circle {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        p {
            margin-bottom: 30px;
        }

        .floating-icons {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;

            img {
                width: 80px;
                height: auto;
                position: absolute;
                animation: ease-in-out infinite;
            }

            .adobexd {
                left: 120px;
                top: 60px;
                animation-name: float-1;
                animation-duration: 5s;
            }

            .reactjs {
                top: 10px;
                right: 60px;
                width: 90px;
                animation-name: float-2;
                animation-delay: .2s;
                animation-duration: 3s;
            }

            .photoshop {
                right: 20px;
                top: 250px;
                animation-name: float-3;
                animation-delay: .5s;
                animation-duration: 3s;
            }

            .javascript {
                left: 70px;
                bottom: 250px;
                animation-name: float-4;
                animation-duration: 3s;
            }

            .illustrator {
                bottom: 140px;
                left: 300px;
                animation-name: float-5;
                animation-delay: .3s;
                animation-duration: 4.5s;
            }

            @keyframes float-1 {
                0% {
                    transform: translatey(0px);
                }

                50% {
                    transform: translatey(-20px);
                }

                100% {
                    transform: translatey(0px);
                }
            }

            @keyframes float-2 {
                0% {
                    transform: translatey(10px);
                }

                50% {
                    transform: translatey(-10px);
                }

                100% {
                    transform: translatey(10px);
                }
            }

            @keyframes float-3 {
                0% {
                    transform: translatey(-5px);
                }

                50% {
                    transform: translatey(-25px);
                }

                100% {
                    transform: translatey(-5px);
                }
            }

            @keyframes float-4 {
                0% {
                    transform: translatey(0px);
                }

                50% {
                    transform: translatey(-20px);
                }

                100% {
                    transform: translatey(0px);
                }
            }

            @keyframes float-5 {
                0% {
                    transform: translatey(5px);
                }

                50% {
                    transform: translatey(-20px);
                }

                100% {
                    transform: translatey(5px);
                }
            }
        }

    }
}

h1 {
    margin-top: 20%;
    font-size: 72px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 20px;
    color: $dark;
    position: relative;

    &:before {
        content: 'Milan Nikolić';
        width: 725px;
        height: 268px;
        text-transform: uppercase;
        color: #d9d9d9;
        font-size: 170px;
        line-height: 131px;
        position: absolute;
        opacity: 0.4;
        font-weight: 800;
        top: -60px;
        left: -70px;
        z-index: -1;
    }


    .gradient-text {
        @include gradient-text;
        font-weight: 300;
    }

    span {
        color: $main-color;
    }
}

.about {
    background: #fcf8ff;
    position: relative;
    overflow: visible;
    padding: 80px 0;

    &::after {
        content: '';
        width: 100%;
        height: 185px;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0px;
        bottom: -100px;
        background: linear-gradient(to left top, #fff 49%, #fcf8ff 50%);
    }

    .about-section {
        padding-top: 40px;
    }

    h2 {
        text-align: left;
        margin: 0 0 20px;
    }

    .about-img {
        position: relative;

        .back-img {
            width: 200px;
            height: 450px;
            top: calc(50% - 225px);
            left: 50px;
            overflow: hidden;
            position: absolute;
            border-radius: 30px 0 0 30px;
            border: 10px solid transparent;
            outline: 3px dashed #eaeaea;

            img {
                transform: translateX(-40px);
            }
        }

        .img-container {
            width: 400px;
            height: 560px;
            margin-right: 20px;
            position: relative;
            float: right;
            overflow: hidden;
            border-radius: 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

            img {
                filter: grayscale(1) brightness(1.5);
                transition: $main-transition;

                &:hover {
                    filter: grayscale(0) brightness(1);
                }
            }
        }


        img {
            z-index: 4;
            position: relative;
        }
    }

    .nav-tabs {
        border: none;
        margin-bottom: 30px;

        .nav-link {
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            border: none;
            border-radius: 100vmax;
            font-weight: 400;
            border: 1px solid #d1d1d1;
            font-size: 14px;
            color: #363636;
            position: relative;
            margin-right: 20px;
            transition: .3s color cubic-bezier(0.25, 1, 0.5, 1);

            &:last-child {
                margin-right: 0;
            }

            &.active {
                border: 1px solid transparent;
                color: $light;
                background: $gradient-background;
            }

            &:visited,
            &:focus {
                outline: none;
            }

            &:hover {
                color: $light;
                background: $gradient-background;
            }
        }

        &.nav-item {
            &.show {
                .nav-link {
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.personal-info {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    li {
        border-top: 1px solid #e5e5e5;
        padding: 15px 0;

        &:first-child {
            border-top: 0;
        }

        &:nth-child(4) {
            border-bottom: 1px solid #e5e5e5;
        }

        &:nth-child(5) {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 1px solid #e5e5e5;
        }

        span {
            font-weight: 600;
        }
    }
}

.tab-holder {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;

    .year {
        font-size: 20px;
        line-height: 26px;
        width: 55px;
        text-align: right;
    }

    p {
        padding-right: 0;
        padding-top: 1px;
        margin-left: 20px;
        font-size: 16px;
        padding-left: 20px;
        border-left: 3px solid $main-color;

        span {
            font-weight: 600;
            display: block;
        }
    }
}

.signature {

    margin-right: 120px;

}

.services {
    position: relative;
    overflow: visible;
    padding-top: 100px;

    &:before {
        content: '';
        background: url(../../img/services-blob.svg) no-repeat;
        width: 60vw;
        height: -webkit-fill-available;
        position: absolute;
        top: 120px;
        left: -31%;
    }

    .container {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;

        h2 {
            text-align: left;
        }
    }

    p {
        font-size: 18px;
        line-height: 30px;
    }

    .my-services {
        margin-bottom: 40px;

        .left {
            padding: 80px 80px 0 0;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .item {
            border-radius: 30px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
            padding: 20px 40px;
            background: $light;
            position: relative;
            
            
            .icon-img {
                margin-bottom: 20px;
                width: 100px;
                height: 100px;
                background: #f3f7ff;
                border-radius: 100vmax;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 2;

                &:before{
                    content: '';
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    border-radius: 100vmax;
                    border: 2px dashed #dae2f3;
                    z-index: -1;
                }
    

               
            }

            img {
                width: 70px;
                height: auto;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

/* WORK */
.work {
    .container {
        max-width: 1320px;
        margin-top: 80px;
        text-align: center;

        .tagline {
            text-align: left;
        }

        h2 {
            margin-bottom: 30px;
            text-align: left;
        }
    }

    /* Filter Gallery  */
    .top-side {
        text-align: center;

        .title {
            font-weight: 500;
            font-size: 15px;
            display: inline-block;

            &:after {
                content: "";
                display: block;
                width: 50%;
                border-bottom: 1px solid #494949;
                margin: 8px auto;
            }
        }

        h2 {
            font-weight: 700;
        }
    }

    .filters {
        text-align: center;
        margin-top: 22px;
        margin-left: 20px;

        ul {
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin-right: 16px;
                padding: 10px 20px;
                font-size: 14px;
                cursor: pointer;
                border: 1px solid #d1d1d1;
                position: relative;
                border-radius: 100vmax;

                &:hover {
                    background: $gradient-background;
                    color: $light;
                }

                &.active {
                    background: $gradient-background;
                    color: $light;
                }
            }
        }
    }

    .filters-content {
        margin-top: 20px;

        .gallery {
            .img-thumbnail {
                object-fit: none;
                object-position: 50% 50%;
                width: 100%;
            }
        }

        &.show {
            opacity: 1;
            visibility: visible;
            transition: all 350ms;
        }

        .hide {
            opacity: 0;
            visibility: hidden;
            transition: all 350ms;
        }

        .item {
            text-align: center;
            cursor: pointer;
            margin-bottom: 30px;
            border-radius: 30px;
            overflow: hidden;
            position: relative;

            .p-inner {
                position: absolute;
                color: $light;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                z-index: 10;
                background: linear-gradient(145deg, rgba(51, 51, 153, 0.8) 0%, rgba(255, 0, 204, 0.8) 100%);
                transition: $main-transition;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .info {
                    font-size: 18px;
                }

            }

            &:hover .p-inner {
                opacity: 1;
            }

            .img-thumbnail {
                padding: 0;
                border: none;
            }

        }
    }

}

// Slider

@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(236, 238, 246, 0) 100%);
}

$animationSpeed: 30s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}


.contact {
    position: relative;
    padding: 80px 0;
    overflow: visible;

    #svg {
        position: absolute;
        top: -47%;
        left: 0;
        z-index: -1;
    }

    h2 {
        text-align: left;
        margin-bottom: 20px;
    }

    .container {
        padding: 60px 30px 0;
    }

    .form-holder {
        position: relative;

        label {
            position: absolute;
            top: 15px;
            left: 20px;
            color: #333;
            font-size: 14px;
            cursor: text;
            pointer-events: none;
            transition: $main-transition;
            transition-duration: .3s;
            background: #fff;
            padding: 0 5px;
        }

        input {
            border-radius: 30px;
            padding-left: 20px !important;

            &:focus~label {
                top: -6px;
                color: $main-color;
                font-size: 12px;
            }

            &:valid~label {
                top: -6px;
                color: $main-color;
                font-size: 12px;
            }
        }

        .form-control {
            padding: 0.575rem 0.75rem;


            &:focus {
                outline: none;
                border-color: #ced4da;
                box-shadow: none;
            }
        }

        textarea {
            border-radius: 30px;
            min-height: 100px;
            padding: 20px !important;

            &:focus~label {
                top: -6px;
                color: $main-color;
                font-size: 12px;
            }

            &:valid~label {
                top: -6px;
                color: $main-color;
                font-size: 12px;
            }
        }

        &.message {
            label {
                top: 20px;
                left: 30px;
            }
        }
    }

    .contact-btn {
        float: left;
    }

    .status {
        float: left;
        padding: 24px;
        font-size: 14px;
        color: red;
        font-weight: 600;
    }
}



footer {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
    color: #999;
}

@media only screen and (max-width: 1400px) {

    .home {
        h1 {
            font-size: 62px;

            &:before {
                top: -50px;
                font-size: 140px;
                line-height: 111px;
            }
        }
    }

    .logo {
        margin-right: 0;
    }


}

@media only screen and (max-width: 1200px) {
    header {

        .container-holder {
            justify-content: space-between;
        }

        .logo {
            margin-right: 0;

        }

        .navigation {
            width: 400px;
            height: 100vh;
            top: 80px;
            right: 0;
            z-index: 999;
            background: $dark;
            position: fixed;
            transform: translateX(100%);
            align-items: flex-start;
            transition: $main-transition;

            &.active {
                transform: translateX(0);
            }
        }

        nav {
            width: 100%;

            ul {
                flex-direction: column;
                align-items: flex-start;

                li {

                    width: 100%;
                    display: block;
                    border-bottom: 1px solid #262626;

                    a {
                        font-size: 24px;
                        padding: 20px 0 20px 40px;
                        display: block;
                        transition: all .3s ease-in-out;
                        color: $light;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }

        .menu {
            display: inline-block;
        }



        .hire-me {
            display: none;
        }
    }

}

@media only screen and (max-width: 991px) {
    .main-img {
        display: none;
    }

    .home {
        text-align: center;

        p {
            padding-right: 0;
        }

        .container {
            &::after {
                display: none;
            }
        }

    }
}

@media only screen and (max-width: 768px) {

    .about {
        .container {
            &>.row {
                flex-direction: column-reverse;
            }
        }
    }

    .services {
        .container {
            .tagline {
                text-align: left;
            }

            h2 {
                text-align: left;
                margin-bottom: 0px;
            }
        }
    }

    .my-services {
        .item {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 400px) {
    header {
        .navigation {
            width: 100%;
        }

        nav {
            ul {
                li {
                    a {
                        padding: 20px 0 20px 30px;
                    }
                }
            }
        }
    }
}